header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 1.45rem auto;
    padding: 0 20px 0 10px;
    display: flex;
    align-items: stretch;
    transition: max-width 0.2s ease-out;
    color: $outline-color;
    flex-wrap: wrap;
    justify-content: space-between;

    #title {
        text-align: center;
        font-family: 'CQ Mono', monospace;
        font-size: #{"min(10vw, 55px)"};
        letter-spacing: .14em;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        line-height: #{"min(10vw, 55px)"};
        margin-left: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    
    .links {
        margin-left: 18px;
        margin-top: 6px;
        margin-bottom: 6px;

        display: flex;
        flex-direction: row;

        justify-content: space-between;
        flex-grow: 1;
        
        

        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:last-child {
                text-align: right;
            }

            a {
                font-family: 'Fredoka One', cursive;
                font-size: 18px;
                letter-spacing: .14em;
                color: $outline-color;
                text-decoration: none;

                svg {
                    height:24px;
                    width: auto;
                    fill: $outline-color;
                    display: none;
                }

                &.current {
                    text-decoration: underline;
                    text-decoration-thickness: 3px;
                }

                &:hover, &:focus {
                    color: $title-color;

                    &#twitter {
                        span {
                            color: #1da1f2;
                        }
                        svg {
                            fill: #1da1f2;
                        }
                    }

                    &#github {
                        span {
                            color: #444d56;
                        }
                        svg {
                            fill: #444d56;
                        }
                    }
                }

            }

            &.icons {
                justify-content: space-around;
                display: none;
            }

            
        }
        
    }

    .column.icons {
        a {
            &:hover, &:focus, &:active {
                &#twitter>svg {
                    fill: #1da1f2;
                }
                &#github>svg {
                    fill: #444d56;
                }
                
            }
    
            svg {
                height: 24px;
                width:auto;
                fill: $outline-color;
                
            }
        }
        
    }
}


@media only screen and (max-width: 480px) {
    header {
        margin-bottom: 10px;
        #title {
            letter-spacing: .3vmin;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-between;
        }
        .links {
            margin-left: 10px;
            margin-bottom: 0;
            //margin-right:10px;
            .column {
                div {
                    height: 20px;
                }
                .link {
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
        }
        
    }
}


/*
@media only screen and (max-width: 600px) {
    header {
        transition: max-width 0.2s ease-out;
        padding: 0 10px;
        max-width: 100%;
        #title {
            letter-spacing: .1em;
        }
        .links {
            margin-bottom: 9px;
            margin-left: 0px;
            align-items: flex-end;
            margin-right: 6px;
            .link {
                line-height: 20px;
                font-size: 20px;
            }
        }

        .col {
            //flex-direction: column;
            :nth-child(2) {
                display:none;
            }
        }
    }
} */