//Fonts
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');



@font-face {
    font-family: 'CQ Mono';
    src: url('CQ Mono.otf');
}

@font-face {
    font-family: 'CQ Mono';
    src: url('CQ Mono.otf');
}
