//Themes



//Colors
$outline-color: #323232;
$drop-color: #9F9F9F;
$headbar-color: #C4C4C4;
$title-color: #323232;
$text-color: #323232;
$body-background-color: white;
$text-highlight-color: red;

/* PURPLE */
// /*
$bg: #FDFDFD;
$outline-color: #6a65ff;
$title-color: #5f00db;
$text-color: #6231a3;
$headbar-color: #859aff; //#859aff; #9AAAFF;
$drop-color: #9e6aff;
$body-background-color: #f5fcff;//#eef4f7;
// */

//rainbow
$red: rgba(240,122,176,1); 
$orange: rgba(255,161,155,1);
$yellow: rgba(255,201,160,1);
$green: rgba(204,238,148,1);
$blue: rgba(153,237,207,1);
$purple: rgba(209,180,237,1);

//Sizes
$title-size: 18px;

//Fonts
$f-emph: 'Fredoka One', cursive;
$f-body: 'Balsamiq Sans', sans-serif;

